.input {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0.5rem 0.4rem;
  width: max-content;
  border: 0.1rem solid transparent;
  outline: 0.1rem solid transparent;
  &:focus {
    background-color: white;
    border-radius: 0.2rem;
    border: 0.1rem solid black;
    outline: 0.1rem solid white;
    color: black !important;
  }
}
