.container {
  margin: 0 auto;
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  overflow-x: auto;
  padding: 0 4rem;
}
.sortableContainer {
  margin: 0 auto;
  display: flex;
}
.columnsContainer {
  display: flex;
  gap: 0 2rem;
  height: 30rem;
  height: fit-content;
  cursor: grab;
}
.column {
  width: 15rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.column-card {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}
.column-card--container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.column-card--container-list {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.2rem;
}
.column-card--addNewCard {
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: left;
  &:hover {
    background-color: gray;
  }
}
.column-dragging {
  background-color: transparent;
  height: 20rem;
  width: 20rem;
}
